@model BookStore.ViewModels.BookGenreViewModel

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
}

<form asp-controller="Books" asp-action="Index" method="get">
    <p>
        <select asp-for="BookGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<div class="container bcontent">
    <div class="row">
        @for (int i = 0; i < Model.Books.Count; i += 2)
        {
            <div class="col-md-6 mb-4">
                <div class="card" style="width: 550px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            @if (!string.IsNullOrWhiteSpace(Model.Books[i].FrontPage))
                            {
                                <img src="@Url.Content(Model.Books[i].FrontPage)" alt="Front Page Image" class="card-img" style="width: 150px">
                            }
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    @Html.DisplayFor(modelItem => Model.Books[i].Title)
                                </h5>
                                <p class="card-text">
                                    @Html.DisplayFor(modelItem => Model.Books[i].Author.FullName)
                                </p>
                                <p class="card-text">
                                    Year Published: @Html.DisplayFor(modelItem => Model.Books[i].YearPublished)
                                </p>
                                <div class="card-text">
                                    @if (Model.Books[i].Reviews.Any())
                                    {
                                        double? averageRating = Model.Books[i].Reviews.Average(r => r.Rating);
                                        decimal roundedRating = Convert.ToDecimal(averageRating.GetValueOrDefault());
                                        decimal rounded = Math.Round(roundedRating, 2);
                                        <p>Average Rating: @rounded</p>
                                    }
                                    else
                                    {
                                        <p>There are no ratings.</p>
                                    }
                                </div>
                                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <a asp-action="Edit" asp-route-id="@Model.Books[i].Id" class="btn btn-success">Edit</a>
                                }
                                <a asp-action="Details" asp-route-id="@Model.Books[i].Id" class="btn btn-primary">Details</a>
                                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <a asp-action="Delete" asp-route-id="@Model.Books[i].Id" class="btn btn-danger">Delete</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (i + 1 < Model.Books.Count)
            {
                <div class="col-md-6 mb-4">
                    <div class="card" style="width: 550px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                @if (!string.IsNullOrWhiteSpace(Model.Books[i + 1].FrontPage))
                                {
                                    <img src="@Url.Content(Model.Books[i + 1].FrontPage)" alt="Front Page Image" class="card-img" style="width: 150px">
                                }
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        @Html.DisplayFor(modelItem => Model.Books[i + 1].Title)
                                    </h5>
                                    <p class="card-text">
                                        @Html.DisplayFor(modelItem => Model.Books[i + 1].Author.FullName)
                                    </p>
                                    <p class="card-text">
                                        Year Published: @Html.DisplayFor(modelItem => Model.Books[i + 1].YearPublished)
                                    </p>
                                    <div class="card-text">
                                            @if (Model.Books[i + 1].Reviews.Any())
                                            {
                                                double? averageRating = Model.Books[i + 1].Reviews.Average(r => r.Rating);
                                                decimal roundedRating = Convert.ToDecimal(averageRating.GetValueOrDefault());
                                                decimal rounded = Math.Round(roundedRating, 2);
                                            <p>Average Rating: @rounded</p>
                                            }
                                            else
                                            {
                                            <p>There are no ratings.</p>
                                            }
                                    </div>
                                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                        {
                                        <a asp-action="Edit" asp-route-id="@Model.Books[i + 1].Id" class="btn btn-success">Edit</a>
                                        }
                                    <a asp-action="Details" asp-route-id="@Model.Books[i + 1].Id" class="btn btn-primary">Details</a>
                                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                        {
                                        <a asp-action="Delete" asp-route-id="@Model.Books[i + 1].Id" class="btn btn-danger">Delete</a>
                                        }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
</div>
<br />
<br />
<br />
